@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --purple: #DA70D6;
    --black: #000;
    --white: #fff;
    --light-bg:#eee;
    --colorful: #FFB6C1;
    --gold: #FFD700;
    --border-bold: .5rem solid var(--black);
    --border-light: .2rem solid var(--black); 
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    color: var(--black);
}

*::selection{
    background-color: var(--black);
    color: var(--yellow);
}

*::-webkit-scrollbar{
    height: 5rem;
    width: 1rem;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--purple);
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
   background: #f4f8f8;
}

/*Dark mode Starts*/
body.dark {
  background: #7f7d7d;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);

}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #4da4f0;
}

.fa-sun {
  color: #f39c12;
}

/*Dark mode ends*/



/*Animation Starts*/

.particle {
   position: absolute;
   border-radius: 50%;
 }
 
 @-webkit-keyframes particle-animation-1 {
   100% {
     transform: translate3d(43vw, 27vh, 86px);
   }
 }
 
 @keyframes particle-animation-1 {
   100% {
     transform: translate3d(43vw, 27vh, 86px);
   }
 }
 .particle:nth-child(1) {
   -webkit-animation: particle-animation-1 60s infinite;
           animation: particle-animation-1 60s infinite;
   opacity: 0.34;
   height: 8px;
   width: 8px;
   -webkit-animation-delay: -0.2s;
           animation-delay: -0.2s;
   transform: translate3d(42vw, 41vh, 76px);
   background: #71d926;
 }
 
 @-webkit-keyframes particle-animation-2 {
   100% {
     transform: translate3d(84vw, 62vh, 6px);
   }
 }
 
 @keyframes particle-animation-2 {
   100% {
     transform: translate3d(84vw, 62vh, 6px);
   }
 }
 .particle:nth-child(2) {
   -webkit-animation: particle-animation-2 60s infinite;
           animation: particle-animation-2 60s infinite;
   opacity: 0.49;
   height: 7px;
   width: 7px;
   -webkit-animation-delay: -0.4s;
           animation-delay: -0.4s;
   transform: translate3d(43vw, 2vh, 88px);
   background: #a3d926;
 }
 
 @-webkit-keyframes particle-animation-3 {
   100% {
     transform: translate3d(23vw, 86vh, 6px);
   }
 }
 
 @keyframes particle-animation-3 {
   100% {
     transform: translate3d(23vw, 86vh, 6px);
   }
 }
 .particle:nth-child(3) {
   -webkit-animation: particle-animation-3 60s infinite;
           animation: particle-animation-3 60s infinite;
   opacity: 0.15;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -0.6s;
           animation-delay: -0.6s;
   transform: translate3d(73vw, 82vh, 11px);
   background: #26d974;
 }
 
 @-webkit-keyframes particle-animation-4 {
   100% {
     transform: translate3d(11vw, 39vh, 21px);
   }
 }
 
 @keyframes particle-animation-4 {
   100% {
     transform: translate3d(11vw, 39vh, 21px);
   }
 }
 .particle:nth-child(4) {
   -webkit-animation: particle-animation-4 60s infinite;
           animation: particle-animation-4 60s infinite;
   opacity: 0.97;
   height: 8px;
   width: 8px;
   -webkit-animation-delay: -0.8s;
           animation-delay: -0.8s;
   transform: translate3d(63vw, 65vh, 49px);
   background: #26d9ac;
 }
 
 @-webkit-keyframes particle-animation-5 {
   100% {
     transform: translate3d(65vw, 64vh, 21px);
   }
 }
 
 @keyframes particle-animation-5 {
   100% {
     transform: translate3d(65vw, 64vh, 21px);
   }
 }
 .particle:nth-child(5) {
   -webkit-animation: particle-animation-5 60s infinite;
           animation: particle-animation-5 60s infinite;
   opacity: 0.89;
   height: 6px;
   width: 6px;
   -webkit-animation-delay: -1s;
           animation-delay: -1s;
   transform: translate3d(79vw, 83vh, 22px);
   background: #7dd926;
 }
 
 @-webkit-keyframes particle-animation-6 {
   100% {
     transform: translate3d(65vw, 37vh, 10px);
   }
 }
 
 @keyframes particle-animation-6 {
   100% {
     transform: translate3d(65vw, 37vh, 10px);
   }
 }
 .particle:nth-child(6) {
   -webkit-animation: particle-animation-6 60s infinite;
           animation: particle-animation-6 60s infinite;
   opacity: 0.32;
   height: 10px;
   width: 10px;
   -webkit-animation-delay: -1.2s;
           animation-delay: -1.2s;
   transform: translate3d(71vw, 47vh, 63px);
   background: #ac26d9;
 }
 
 @-webkit-keyframes particle-animation-7 {
   100% {
     transform: translate3d(89vw, 51vh, 27px);
   }
 }
 
 @keyframes particle-animation-7 {
   100% {
     transform: translate3d(89vw, 51vh, 27px);
   }
 }
 .particle:nth-child(7) {
   -webkit-animation: particle-animation-7 60s infinite;
           animation: particle-animation-7 60s infinite;
   opacity: 0.12;
   height: 6px;
   width: 6px;
   -webkit-animation-delay: -1.4s;
           animation-delay: -1.4s;
   transform: translate3d(15vw, 42vh, 82px);
   background: #26d938;
 }
 
 @-webkit-keyframes particle-animation-8 {
   100% {
     transform: translate3d(42vw, 73vh, 60px);
   }
 }
 
 @keyframes particle-animation-8 {
   100% {
     transform: translate3d(42vw, 73vh, 60px);
   }
 }
 .particle:nth-child(8) {
   -webkit-animation: particle-animation-8 60s infinite;
           animation: particle-animation-8 60s infinite;
   opacity: 0.37;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -1.6s;
           animation-delay: -1.6s;
   transform: translate3d(77vw, 2vh, 100px);
   background: #6526d9;
 }
 
 @-webkit-keyframes particle-animation-9 {
   100% {
     transform: translate3d(89vw, 61vh, 79px);
   }
 }
 
 @keyframes particle-animation-9 {
   100% {
     transform: translate3d(89vw, 61vh, 79px);
   }
 }
 .particle:nth-child(9) {
   -webkit-animation: particle-animation-9 60s infinite;
           animation: particle-animation-9 60s infinite;
   opacity: 0.99;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -1.8s;
           animation-delay: -1.8s;
   transform: translate3d(78vw, 48vh, 43px);
   background: #d926cd;
 }
 
 @-webkit-keyframes particle-animation-10 {
   100% {
     transform: translate3d(8vw, 67vh, 91px);
   }
 }
 
 @keyframes particle-animation-10 {
   100% {
     transform: translate3d(8vw, 67vh, 91px);
   }
 }
 .particle:nth-child(10) {
   -webkit-animation: particle-animation-10 60s infinite;
           animation: particle-animation-10 60s infinite;
   opacity: 0.57;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -2s;
           animation-delay: -2s;
   transform: translate3d(15vw, 54vh, 4px);
   background: #26d988;
 }
 
 @-webkit-keyframes particle-animation-11 {
   100% {
     transform: translate3d(72vw, 11vh, 44px);
   }
 }
 
 @keyframes particle-animation-11 {
   100% {
     transform: translate3d(72vw, 11vh, 44px);
   }
 }
 .particle:nth-child(11) {
   -webkit-animation: particle-animation-11 60s infinite;
           animation: particle-animation-11 60s infinite;
   opacity: 0.68;
   height: 6px;
   width: 6px;
   -webkit-animation-delay: -2.2s;
           animation-delay: -2.2s;
   transform: translate3d(57vw, 39vh, 71px);
   background: #269dd9;
 }
 
 @-webkit-keyframes particle-animation-12 {
   100% {
     transform: translate3d(58vw, 22vh, 46px);
   }
 }
 
 @keyframes particle-animation-12 {
   100% {
     transform: translate3d(58vw, 22vh, 46px);
   }
 }
 .particle:nth-child(12) {
   -webkit-animation: particle-animation-12 60s infinite;
           animation: particle-animation-12 60s infinite;
   opacity: 0.95;
   height: 10px;
   width: 10px;
   -webkit-animation-delay: -2.4s;
           animation-delay: -2.4s;
   transform: translate3d(84vw, 77vh, 75px);
   background: #26d9d3;
 }
 
 @-webkit-keyframes particle-animation-13 {
   100% {
     transform: translate3d(71vw, 78vh, 49px);
   }
 }
 
 @keyframes particle-animation-13 {
   100% {
     transform: translate3d(71vw, 78vh, 49px);
   }
 }
 .particle:nth-child(13) {
   -webkit-animation: particle-animation-13 60s infinite;
           animation: particle-animation-13 60s infinite;
   opacity: 0.55;
   height: 10px;
   width: 10px;
   -webkit-animation-delay: -2.6s;
           animation-delay: -2.6s;
   transform: translate3d(32vw, 57vh, 51px);
   background: #2f26d9;
 }
 
 @-webkit-keyframes particle-animation-14 {
   100% {
     transform: translate3d(21vw, 7vh, 24px);
   }
 }
 
 @keyframes particle-animation-14 {
   100% {
     transform: translate3d(21vw, 7vh, 24px);
   }
 }
 .particle:nth-child(14) {
   -webkit-animation: particle-animation-14 60s infinite;
           animation: particle-animation-14 60s infinite;
   opacity: 0.94;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -2.8s;
           animation-delay: -2.8s;
   transform: translate3d(18vw, 45vh, 57px);
   background: #d92c26;
 }
 
 @-webkit-keyframes particle-animation-15 {
   100% {
     transform: translate3d(59vw, 29vh, 97px);
   }
 }
 
 @keyframes particle-animation-15 {
   100% {
     transform: translate3d(59vw, 29vh, 97px);
   }
 }
 .particle:nth-child(15) {
   -webkit-animation: particle-animation-15 60s infinite;
           animation: particle-animation-15 60s infinite;
   opacity: 0.51;
   height: 7px;
   width: 7px;
   -webkit-animation-delay: -3s;
           animation-delay: -3s;
   transform: translate3d(46vw, 22vh, 29px);
   background: #d92668;
 }
 
 @-webkit-keyframes particle-animation-16 {
   100% {
     transform: translate3d(35vw, 70vh, 51px);
   }
 }
 
 @keyframes particle-animation-16 {
   100% {
     transform: translate3d(35vw, 70vh, 51px);
   }
 }
 .particle:nth-child(16) {
   -webkit-animation: particle-animation-16 60s infinite;
           animation: particle-animation-16 60s infinite;
   opacity: 0.82;
   height: 8px;
   width: 8px;
   -webkit-animation-delay: -3.2s;
           animation-delay: -3.2s;
   transform: translate3d(40vw, 2vh, 3px);
   background: #26d980;
 }
 
 @-webkit-keyframes particle-animation-17 {
   100% {
     transform: translate3d(81vw, 26vh, 19px);
   }
 }
 
 @keyframes particle-animation-17 {
   100% {
     transform: translate3d(81vw, 26vh, 19px);
   }
 }
 .particle:nth-child(17) {
   -webkit-animation: particle-animation-17 60s infinite;
           animation: particle-animation-17 60s infinite;
   opacity: 0.43;
   height: 7px;
   width: 7px;
   -webkit-animation-delay: -3.4s;
           animation-delay: -3.4s;
   transform: translate3d(81vw, 32vh, 57px);
   background: #d92635;
 }
 
 @-webkit-keyframes particle-animation-18 {
   100% {
     transform: translate3d(21vw, 83vh, 20px);
   }
 }
 
 @keyframes particle-animation-18 {
   100% {
     transform: translate3d(21vw, 83vh, 20px);
   }
 }
 .particle:nth-child(18) {
   -webkit-animation: particle-animation-18 60s infinite;
           animation: particle-animation-18 60s infinite;
   opacity: 0.94;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -3.6s;
           animation-delay: -3.6s;
   transform: translate3d(89vw, 10vh, 86px);
   background: #2650d9;
 }
 
 @-webkit-keyframes particle-animation-19 {
   100% {
     transform: translate3d(50vw, 88vh, 12px);
   }
 }
 
 @keyframes particle-animation-19 {
   100% {
     transform: translate3d(50vw, 88vh, 12px);
   }
 }
 .particle:nth-child(19) {
   -webkit-animation: particle-animation-19 60s infinite;
           animation: particle-animation-19 60s infinite;
   opacity: 0.55;
   height: 10px;
   width: 10px;
   -webkit-animation-delay: -3.8s;
           animation-delay: -3.8s;
   transform: translate3d(23vw, 83vh, 75px);
   background: #d92644;
 }
 
 @-webkit-keyframes particle-animation-20 {
   100% {
     transform: translate3d(24vw, 29vh, 100px);
   }
 }
 
 @keyframes particle-animation-20 {
   100% {
     transform: translate3d(24vw, 29vh, 100px);
   }
 }
 .particle:nth-child(20) {
   -webkit-animation: particle-animation-20 60s infinite;
           animation: particle-animation-20 60s infinite;
   opacity: 0.14;
   height: 8px;
   width: 8px;
   -webkit-animation-delay: -4s;
           animation-delay: -4s;
   transform: translate3d(5vw, 87vh, 70px);
   background: #d9265c;
 }
 
 @-webkit-keyframes particle-animation-21 {
   100% {
     transform: translate3d(71vw, 40vh, 70px);
   }
 }
 
 @keyframes particle-animation-21 {
   100% {
     transform: translate3d(71vw, 40vh, 70px);
   }
 }
 .particle:nth-child(21) {
   -webkit-animation: particle-animation-21 60s infinite;
           animation: particle-animation-21 60s infinite;
   opacity: 0.89;
   height: 7px;
   width: 7px;
   -webkit-animation-delay: -4.2s;
           animation-delay: -4.2s;
   transform: translate3d(23vw, 11vh, 27px);
   background: #2638d9;
 }
 
 @-webkit-keyframes particle-animation-22 {
   100% {
     transform: translate3d(25vw, 80vh, 12px);
   }
 }
 
 @keyframes particle-animation-22 {
   100% {
     transform: translate3d(25vw, 80vh, 12px);
   }
 }
 .particle:nth-child(22) {
   -webkit-animation: particle-animation-22 60s infinite;
           animation: particle-animation-22 60s infinite;
   opacity: 0.13;
   height: 7px;
   width: 7px;
   -webkit-animation-delay: -4.4s;
           animation-delay: -4.4s;
   transform: translate3d(74vw, 35vh, 6px);
   background: #4126d9;
 }
 
 @-webkit-keyframes particle-animation-23 {
   100% {
     transform: translate3d(45vw, 84vh, 71px);
   }
 }
 
 @keyframes particle-animation-23 {
   100% {
     transform: translate3d(45vw, 84vh, 71px);
   }
 }
 .particle:nth-child(23) {
   -webkit-animation: particle-animation-23 60s infinite;
           animation: particle-animation-23 60s infinite;
   opacity: 0.16;
   height: 6px;
   width: 6px;
   -webkit-animation-delay: -4.6s;
           animation-delay: -4.6s;
   transform: translate3d(7vw, 68vh, 3px);
   background: #26d9d6;
 }
 
 @-webkit-keyframes particle-animation-24 {
   100% {
     transform: translate3d(10vw, 39vh, 77px);
   }
 }
 
 @keyframes particle-animation-24 {
   100% {
     transform: translate3d(10vw, 39vh, 77px);
   }
 }
 .particle:nth-child(24) {
   -webkit-animation: particle-animation-24 60s infinite;
           animation: particle-animation-24 60s infinite;
   opacity: 0.18;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -4.8s;
           animation-delay: -4.8s;
   transform: translate3d(36vw, 26vh, 18px);
   background: #4426d9;
 }
 
 @-webkit-keyframes particle-animation-25 {
   100% {
     transform: translate3d(88vw, 51vh, 67px);
   }
 }
 
 @keyframes particle-animation-25 {
   100% {
     transform: translate3d(88vw, 51vh, 67px);
   }
 }
 .particle:nth-child(25) {
   -webkit-animation: particle-animation-25 60s infinite;
           animation: particle-animation-25 60s infinite;
   opacity: 0.65;
   height: 6px;
   width: 6px;
   -webkit-animation-delay: -5s;
           animation-delay: -5s;
   transform: translate3d(31vw, 65vh, 56px);
   background: #c4d926;
 }
 
 @-webkit-keyframes particle-animation-26 {
   100% {
     transform: translate3d(8vw, 60vh, 11px);
   }
 }
 
 @keyframes particle-animation-26 {
   100% {
     transform: translate3d(8vw, 60vh, 11px);
   }
 }
 .particle:nth-child(26) {
   -webkit-animation: particle-animation-26 60s infinite;
           animation: particle-animation-26 60s infinite;
   opacity: 0.27;
   height: 6px;
   width: 6px;
   -webkit-animation-delay: -5.2s;
           animation-delay: -5.2s;
   transform: translate3d(84vw, 60vh, 70px);
   background: #6ed926;
 }
 
 @-webkit-keyframes particle-animation-27 {
   100% {
     transform: translate3d(74vw, 33vh, 84px);
   }
 }
 
 @keyframes particle-animation-27 {
   100% {
     transform: translate3d(74vw, 33vh, 84px);
   }
 }
 .particle:nth-child(27) {
   -webkit-animation: particle-animation-27 60s infinite;
           animation: particle-animation-27 60s infinite;
   opacity: 0.22;
   height: 8px;
   width: 8px;
   -webkit-animation-delay: -5.4s;
           animation-delay: -5.4s;
   transform: translate3d(73vw, 80vh, 24px);
   background: #d92629;
 }
 
 @-webkit-keyframes particle-animation-28 {
   100% {
     transform: translate3d(78vw, 37vh, 4px);
   }
 }
 
 @keyframes particle-animation-28 {
   100% {
     transform: translate3d(78vw, 37vh, 4px);
   }
 }
 .particle:nth-child(28) {
   -webkit-animation: particle-animation-28 60s infinite;
           animation: particle-animation-28 60s infinite;
   opacity: 0.98;
   height: 9px;
   width: 9px;
   -webkit-animation-delay: -5.6s;
           animation-delay: -5.6s;
   transform: translate3d(68vw, 7vh, 76px);
   background: #d92674;
 }
 
 @-webkit-keyframes particle-animation-29 {
   100% {
     transform: translate3d(33vw, 23vh, 41px);
   }
 }
 
 @keyframes particle-animation-29 {
   100% {
     transform: translate3d(33vw, 23vh, 41px);
   }
 }
 .particle:nth-child(29) {
   -webkit-animation: particle-animation-29 60s infinite;
           animation: particle-animation-29 60s infinite;
   opacity: 0.69;
   height: 10px;
   width: 10px;
   -webkit-animation-delay: -5.8s;
           animation-delay: -5.8s;
   transform: translate3d(61vw, 61vh, 48px);
   background: #a026d9;
 }
 
 @-webkit-keyframes particle-animation-30 {
   100% {
     transform: translate3d(70vw, 82vh, 22px);
   }
 }
 
 @keyframes particle-animation-30 {
   100% {
     transform: translate3d(70vw, 82vh, 22px);
   }
 }
 .particle:nth-child(30) {
   -webkit-animation: particle-animation-30 60s infinite;
           animation: particle-animation-30 60s infinite;
   opacity: 0.34;
   height: 10px;
   width: 10px;
   -webkit-animation-delay: -6s;
           animation-delay: -6s;
   transform: translate3d(5vw, 40vh, 23px);
   background: #d9263e;
 }

 /*Animation ends*/

body.active{
    padding-left: 35rem;
} 


section{
    padding:  3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.heading{
    margin-bottom: 4rem;
    text-align: center; 
}

.heading span{
    text-transform: uppercase;
    font-size: 6.5rem;
    border-bottom: var(--border-bold);

}

.message{
  position: sticky;
  top: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--gold);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 2rem;
  font-family: monospace;
}

.message i {
  cursor: pointer;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border-bold);
    border-radius: 10px;
    color: var(--black);
    font-size: 2rem;
}

.btn:hover{
    background-color: var(--gold);
    color: var(--black);
}

.header{
    position: fixed;
    top:0; left: -35rem;
    height: 100vh;
    background-color: var(--white);
    border-right: var(--border-bold);
    width: 35rem;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    transition: .2s linear !important;
    text-align: center;
    z-index: 1000;
}

.header .logo{
    color: #827ce0;
    font-weight: bolder;
    border-bottom: var(--border-bold);
    font-size: 4.5rem;
}

.header .navbar{
    width: 100%;
}

.header .navbar a{
    display: block;
    font-size: 2.5rem;
    padding: 1.5rem;
    margin: 5rem;
}

.header .navbar a.active,
.header .navbar a:hover{
   background-color: var(--purple);
   border-radius: 15px;
}

.header .follow a{
    font-size: 3rem;
    margin:0 1rem;
    cursor: pointer;
    transition: .6s linear !important;
 }
 
 .header .follow a:hover{
    transform: rotate(360deg);
 }

 #menu-btn{
    position: absolute;
    top: 0; right: -5.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 2.5rem;
    cursor: pointer;
    background-color: var(--colorful);
    color: #eee;
 }

 .header.active{
    left: 0;
 }

 .home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
 }

 .home .image{
    flex: 1 1 40rem;
 }

 .home .image img{
    height: 65rem;
    padding: 2rem;
    border: var(--border-bold);
 }

 .home .content{
    flex: 1 1 40rem;
 }

 .home .content h3{
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: .5rem;
 }

 .home .content span{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--gold);
    border-radius: 10px;
    font-size: 2.5rem;
    margin: 1rem 0;
 }

 .home .content p{
    font-size: 1.7rem;
    line-height: 2;
    padding: 1rem 0;
 }

 .about .biography p{
    margin:2rem auto;
    max-width: 70rem;
    line-height: 2;
    font-size: 1.8rem;
 }

.about .biography .bio{
    margin-top: 1rem;
}

.about .biography .bio h3{
    padding:1rem 2rem;
    display: inline-block;
    margin:1rem;
    background-color: var(--light-bg);
    border:var(--border-bold);
    word-break: break-all;
    font-size: 2.0rem;
    font-weight: normal;
    text-transform: none;
    border-radius: 10px;
 }

 .about .biography .bio h3 span{
    font-weight: lighter;
 }

 .about .skills{
    margin: 2rem 0;
 }

 .about .skills .progress{
    margin-top: 1rem;
 }

 .about .skills .progress .bar{
    margin: 1rem auto;
    max-width: 70rem;
    border:var(--border-bold);
    padding: 1rem;
 }

 .about .skills .progress .bar h3{
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .about .skills .progress .bar span{
    font-weight: normal;
 }

 .about .skills .progress .bar:nth-child(1) h3{
    width: 90%;
    background-color: orangered;
 }

 .about .skills .progress .bar:nth-child(2) h3{
    width: 65%;
    background-color: #92a8d1;
 }

 .about .skills .progress .bar:nth-child(3) h3{
    width: 55%;
    background-color:  #ffef96;
 }

 .about .skills .progress .bar:nth-child(4) h3{
    width: 45%;
    background-color: #b0aac0;
 }

 .about .skills .progress .bar:nth-child(5) h3{
    width: 45%;
    background-color: #77a8a8;
 }

 .about .skills .progress .bar:nth-child(6) h3{
    width: 45%;
    background-color: #87bdd8;
 }

 .about .skills .progress .bar:nth-child(7) h3{
    width: 40%;
    background-color: #ffeead;
 }

 .about .skills .progress .bar:nth-child(8) h3{
    width: 40%;
    background-color: #b7d7e8;
 }

 .about .edu-exp .row{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   border-radius: 5px;
}

.about .edu-exp .row .box-container{
   flex:1 1 40rem;
}

.about .edu-exp .row .box-container .title{
   padding:1.5rem;
   font-size: 3rem;
   background-color: var(--gold);
}

.about .edu-exp .row .box-container .box{
   text-align: left;
   margin:1.5rem 0;
   background-color:#ebd9dc;
   padding:2rem;
}

.about .edu-exp .row .box-container .box span{
   font-size: 1.5rem;
}

.about .edu-exp .row .box-container .box h3{
   font-size: 2.5rem;
   font-weight: normal;
   margin-top: 1.5rem;
   margin-bottom: 1rem;
}

.about .edu-exp .row .box-container .box p{
   line-height: 1.5;
   font-size: 1.7rem;
   line-height: 2;

}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
}

.services .box-container .box{
   padding:3rem 2rem;
   border: var(--border-light);
}

.services .box-container .box i{
   font-size: 4rem;
   margin-bottom: 2rem;

}

.services .box-container .box h3{
   margin: 1rem 0;
   font-size: 2rem;
   padding: 1.5rem;
   background-color: var(--colorful);
   font-weight: normal;
}

.services .box-container .box p{
   line-height: 2;
   font-size: 1.7rem;
}

.services .box-container .box:hover{
   background-color: var(--black)
}

.services .box-container .box:hover i{
   background-color: var(--white);
}

.services .box-container .box:hover p{
   color:var(--white);
}

.portfolio .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap:1.5rem;
  align-items: flex-start;
}

.portfolio .box-container .box img{
  height: 30rem;
  width: 100%;
  object-fit: contain;
  opacity: 0.5;
}

.portfolio .box-container .box img:hover{
  opacity: 1.0;
}

.portfolio .box-container .box h3{
  margin:1rem 0;
  font-size: 2rem;
  font-weight: normal;
}

.portfolio .box-container .box span{
  font-size: 1.7rem;
}

.contact form .box{
  width: 100%;
  padding:1.4rem;
  font-size: 2rem;
  text-transform: none;
  border:var(--border-light);
  margin:1rem 0;
}

.contact form textarea{
  height: 20rem;
  resize: none;
}

.contact form .flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .flex .box{
  width: 49%;
}

.contact .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  align-items: flex-start;
  margin-top: 3rem;
}

.contact .box-container .box{
  padding:3rem 2rem;
  border:var(--border-light);
}

.contact .box-container .box i{
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  color:var(--white);
  background-color: var(--black);
  margin-bottom: .5rem;
}

.contact .box-container .box h3{
  margin:1.5rem 0;
  font-size: 2.5rem;
}

.contact .box-container .box p{
  font-size: 2rem;
  text-transform: none;
}

.contact .box-container .box:hover{
  background-color: var(--colorful);
}

.credit{
  text-align: center;
  padding:1.8rem;
  font-size: 1.5rem;
  color:var(--black);
  background: rgb(34,193,195);
background: linear-gradient(11deg, rgba(34,193,195,1) 0%, rgba(214,128,231,1) 47%);
}

.credit:hover{
  background:  var(--border-light);
  color: var(--black);
}

.credit span{
  color:#d92668;
}

.credit span:hover{
  color: #269dd9;
}

.credit .code img{
  align-items: left;
  width: 120px;
}




































 /* media queries */

 @media (max-width:991px){
    html{
       font-size: 55%;
    }
    body.active{
       padding-left: 0;
    }
 }

 @media (max-width:450px){
    html{
        font-size: 50%;  
    }
    .header.active{
        padding-top: 7rem;
     }
     #menu-btn.fa-times{
        right:0;
     }

     .home .image img{
        height: auto;
        width: 100%;
     }

     .heading span{
        font-size: 4rem;
     }

     .about .biography .bio h3 span{
        font-size: 2rem;
     }
 }
